@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root{
   --primary: #261587;
   --secondary: #0F0F2E;
   --tertiary: #3278FF;
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Poppins', sans-serif;
}
a{
   text-decoration: none;
}
ul{
   list-style: none;
}
.login{
   height: 110vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 40% 60%;
}
.model-container{
   background: url('/images/model3.jpg') no-repeat center center/cover;
   padding-top: 1.5rem;
   padding-left: 2rem;
}
.model-container2{
   background: url('/images/model2.jpg') no-repeat center center/cover;
   padding-top: 1.5rem;
   padding-left: 2rem;
}
.logo-container{
   color: white;
   display: flex;
   align-items: center;
}
.logo-container2{
   color: black;
   display: flex;
   align-items: center;
}
.logo-container2 img{
   width:3rem;
}
.logo-container img{
   width:3rem;
}
.heading{
   color: white;
   margin-top: 1.5rem;
}
.heading2{
   margin-top: 0.8rem;
}
input:not([type="checkbox"]), .btn{
   width: 100%;
}
input[type="checkbox"]{
   transform: scale(1.5);
   cursor: pointer;
   background-color: var(--secondary);
   margin-right: 10px;
   margin-left: 5px;
}
input{
   background-color: #EFEFEF;
   border: none;
   padding: 0.8rem;
   margin-top: 0.5rem;
}
.signin-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.signin-container h1{
   color: var(--secondary);
   margin-bottom: 1rem;
}
.btn-google{
   background-color: #3278FF;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   border-radius: 3px;
   color: white;
   margin-bottom: 1.5rem;
}
.btn-google small{
   margin-left: 10px;
}
.form-group{
   margin-top: 1rem;
}
.password-group{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.password-group a{
   font-size: 0.8rem;
}
.actions{
   margin-top: 2rem;
}
.btn-create{
   background-color: var(--secondary);
   color: white;
   padding: 0.8rem 1rem;
   font-size: 0.9rem;
   border-radius: 3px;
   margin-right: 10px;
}
.btn:hover{
   opacity: 0.9;
}
.form-container{
   width: 70%;
   position: relative;
}
.form-2{
   margin-top: 5rem;
}
.check-label{
   font-size: 0.7rem;
}
#btn-back{
   font-size: 2.5rem;
   position: absolute;
   top: -5rem;
   left: 0;
   color: var(--primary);
}
#btn-back2{
   font-size: 2.5rem;
   position: absolute;
   left: 0;
   top: -3.5rem;
   color: var(--primary);
}
#btn-back:hover, #btn-back2:hover{
   cursor: pointer;
   opacity: 0.9;
}

@media(max-width: 900px){
   .login{
      grid-template-columns: 1fr;
   }
   .model-container, .model-container2{
      display: none;
   }
}
@media(max-width: 500px){
   .actions{
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   .btn-create{
      margin-bottom: 1rem;
   }
}