.grid-container{
   grid-template-columns:0% 70%;
}
.heading{
   padding-left: 0;
}
.tabs-heading{
   padding-left: 315px;
}
.tabs .indicator{
   background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
}
@media only screen and (max-width : 992px) {
   .grid-container{
      grid-template-columns: 0% 100%;
   }
    .tabs-heading{
      padding-left: 0;
   }
}